@using Forum.Application.Users.Requests.Updates;
@model PasswordRequestPutModel;

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<hr />

<div class="col-md-4">
    <div asp-validation-summary=All class="text-danger"></div>

    <form asp-action="ChangePassword" class="d-flex flex-column gap-4">
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label">Current Password</label>
            <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="******" />
        </div>

        <div class="form-group">
            <label asp-for="NewPassword" class="control-label">New Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" placeholder="******" />
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="******" />
        </div>

        <button type="submit" class="btn btn-success">Update</button>
    </form>
</div>
