@using Forum.Domain.Users
@model User;
@{
    ViewData["Title"] = "Profile";
}

<h2>Profile Information</h2>

<div class="flex-column">
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    }

    <div asp-validation-summary=All class="text-danger"></div>

    <form asp-action="UpdateEmail" class="flex-column gap-2">
        <div class="flex-row gap-2">
            <label asp-for="Email" class="form-label">Email: </label>
            <input asp-for="Email" />
            <input type="submit" value="Update" />
        </div>
    </form>

    <form asp-action="UpdateUsername" class="flex-column gap-2">
        <div class="flex-row gap-2">
            <label asp-for="UserName" class="form-label">Username: </label>
            <input asp-for="UserName" />
            <input type="submit" value="Update" />
        </div>
    </form>

    <form asp-action="UpdatePassword" class="flex-column gap-2">
        <div class="flex-row gap-2">
            <label asp-for="PasswordHash" class="form-label">Old Password: </label>
            <input name="OldPassword" type="password" />
        </div>
        <div class="flex-row gap-2">
            <label asp-for="PasswordHash" class="form-label">Password: </label>
            <input name="Password" type="password" />
        </div>
        <div class="flex-row gap-2">
            <label asp-for="PasswordHash" class="form-label">Confirm Password: </label>
            <input name="ConfirmPassword" type="password" />
            <input type="submit" value="Update" />
        </div>
    </form>
</div>